# --- DATABASE
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=

# --- JWT
JWT_SECRET=
JWT_REFRESH_SECRET=

# --- SERVER
NODE_ENV=
SERVER_PORT=

# --- GOOGLE OUATH CLIENT
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
REDIRECT_URL=

# --- GOOGLE SHEETS & DRIVE
GDRIVE_FOLDER_ID=
SHEETS_ID=
SHEETS_NAME=